# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database files (opcional, depende si quieres subir la DB)
*.db

# Virtual environments
venv/
env/
ENV/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
